<div>
  <div>
    <h1>
      List of all notes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new note
    </h2>

    <form action="/insert_note" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject">
      </div>


      <div>
      <button  class="btn btn-primary">Create Note</button>
      </div>
    </form>
  </div>
</div>

<hr>

 


<div class="card-columns">
<% @list_of_notes.each do |a_note| %>
  <%user = User.where({:id=> a_note.user_id}).at(0)%>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%=user.email%>: <%=a_note.subject%></h5>
      <p class="card-text"><%=a_note.body%></p>
      <p class="card-text"><small class="text-muted">Last updated <%=time_ago_in_words(a_note.created_at)%> ago</small></p>
    </div>
  </div>
  <%end%>
</div>










