<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/notes">Notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user_sign_in">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user_sign_up">Sign Up</a>
  </li> 
  