<%# <style>
  *{border: thin red solid}
</style> %>


<div class="container">
  <div class="row">
    <div class="col">
      
    

<div class="card w-75">
  <div class="card-body">
    <h1 class="card-title">Sign Up</h1>
   
  


<form action="/insert_user" method="post">

  <div class="mb-3">
    <label for="email_box" class ="form-control">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text" class ="form-label"> 
  </div class="mb-3">
            
  <div class="mb-3">
    <label for="password_box" class ="form-control">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class ="form-label">
  </div class="mb-3">

  <div class="mb-3">
    <label for="password_confirmation_box" class ="form-control" >Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class ="form-label">
  </div class="mb-3">

  <button class="btn btn-primary">
    Sign up
  </button>
</form>
</div>
</div>
</div>
    <div class="col">
      
    </div>
</div>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
</div class="mb-3">
</div class="mb-3">
</div class="mb-3">