
<div class="card w-75">
  <div class="card-body">
    <h1 class="card-title">Sign In</h1>
  

<form action="/user_verify_credentials" method="post">
  <div class="mb-3">
    <label for="email_box" class ="form-control">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text" class ="form-label">
  </div class="mb-3">

  <div class="mb-3">
    <label for="password_box" class ="form-control">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password" class ="form-label">
  </div class="mb-3">

  <button>
    Sign in
  </button>
</form>

  </div>
</div>

Or, <a href="/user_sign_up">Sign up</a> instead.
</div>
</div>
</div>

